<!DOCTYPE html>
<html xmlns="www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head><meta charset="UTF-8"/></head>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	<a class="navbar-brand" href="#"> <img
		src="/images/GFT-Logo-Website.svg" width="150" height="30" alt="Logo GFT">
	</a>
	<h5 class="my-0 mr-md-auto font-weight-normal">GFT Group</h5>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="/wa">Home</a> 
		<a class="p-2 text-dark" href="/wa/funcionarios">Funcionários</a> 
		<a class="p-2 text-dark" href="/wa/vagas">Vagas</a> 
		<a class="p-2 text-dark" href="/wa/alocacao">Alocação</a> 
		<a class="p-2 text-dark" href="/wa/historico">Histórico</a>
	</nav>

</div>

</html>
